---
import Layout from '../layouts/Layout.astro';
import WhoToFollow from '../components/who-to-follow.astro';
---

<Layout>
	<aside class="border-r border-white">
	</aside>
	<main class="col-span-2">
		<h1>Here will be the posts</h1>
	</main>
	<aside class="border-l border-white flex items-center w-full">
		<WhoToFollow />
	</aside>
</Layout>
