---
import people from '../data.js';
---

<section id="follow-section" class="w-full">
	<h2 class="text-2xl font-bold ml-4 mb-3">Who to follow</h2>
	<div id="follow-container">
		{
			people.map((person) => (
				<div class="flex items-center justify-between
				px-5 py-2 border-b border-white/10
				first:border-t first:border-white/10"
				>
					<div class="flex items-center gap-2">
						<img src={person.img} class="w-10 aspect-square rounded-full object-cover" />
						<span class="names-container">
							<div class="font-bold text-base">{person.name}</div>
							<div class="font-thin text-sm">@{person.username}</div>
						</span>
					</div>
					<button class="follow before:content-['Follow']
					text-sm font-bold text-gray-900 bg-zinc-200
					px-3 py-1 rounded-full
					hover:bg-white ease-in-out duration-150"
					>

					</button>
				</div>
			))
		}
	</div>
</section>

<script>
	const container = document.querySelector("#follow-container");

	container?.addEventListener("click", (e) => {
	const target = e.target as HTMLElement;
	if (target.classList.contains("follow")) {
		target.classList.toggle("following");
	}
});
</script>
